.App {
  text-align: center;
}

.main-heading {
  font-family: Roboto;
}

.form-container {
display: flex;
justify-content: center;
}

.search-input {
  width: 250px;
  height: 40px;
  font-size: 16px;
  color: gray;
}

.search-button {
  height: 40px;
  width: 80px;
  margin-left: 10px;
  font-size: 16px;
  background-color: #007BFF;
  border: 0px;
  border-radius: 5px;
  color: white;
}

.serch-elements-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.search-element {
  background-color: #FF6347;
  margin: 4px;
  border: 0px;
  border-radius: 4px;
  height: 40px;
  width: 80px;
  color: white;
  font-size: 16px;
}